In [2]:
import pandas as pd
df = pd.read_csv("./data/Pokemon.csv")
df

       #                   Name   Type 1  Type 2  Total  HP  ...  Defense  Sp. Atk  Sp. Def  Speed  Generation  Legendary
0      1              Bulbasaur    Grass  Poison    318  45  ...       49       65       65     45           1      False
1      2                Ivysaur    Grass  Poison    405  60  ...       63       80       80     60           1      False
2      3               Venusaur    Grass  Poison    525  80  ...       83      100      100     80           1      False
3      3  VenusaurMega Venusaur    Grass  Poison    625  80  ...      123      122      120     80           1      False
4      4             Charmander     Fire     NaN    309  39  ...       43       60       50     65           1      False
..   ...                    ...      ...     ...    ...  ..  ...      ...      ...      ...    ...         ...        ...
795  719                Diancie     Rock   Fairy    600  50  ...      150      100      150     50           6       True
796  719    DiancieMega Diancie     Rock   Fairy    700  50  ...      110      160      110    110           6       True
797  720    HoopaHoopa Confined  Psychic   Ghost    600  80  ...       60      150      130     70           6       True
798  720     HoopaHoopa Unbound  Psychic    Dark    680  80  ...       60      170      130     80           6       True
799  721              Volcanion     Fire   Water    600  80  ...      120      130       90     70           6       True

[800 rows x 13 columns]

In [3]:
df["Type 1"].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

In [11]:
df["Type 2"].value_counts()

Flying      97
Ground      35
Poison      34
Psychic     33
Fighting    26
Grass       25
Fairy       23
Steel       22
Dark        20
Dragon      18
Water       14
Ghost       14
Ice         14
Rock        14
Fire        12
Electric     6
Normal       4
Bug          3
Name: Type 2, dtype: int64

In [13]:
df[df["Legendary"] == True].sort_values("Total")

       #                   Name   Type 1    Type 2  Total   HP  ...  Defense  Sp. Atk  Sp. Def  Speed  Generation  Legendary
156  144               Articuno      Ice    Flying    580   90  ...      100       95      125     85           1       True
539  482                  Azelf  Psychic       NaN    580   75  ...       70      125       70    115           4       True
699  638               Cobalion    Steel  Fighting    580   91  ...      129       90       72    108           5       True
700  639              Terrakion     Rock  Fighting    580   91  ...       90       72       90    108           5       True
701  640               Virizion    Grass  Fighting    580   91  ...       72       90      129    108           5       True
..   ...                    ...      ...       ...    ...  ...  ...      ...      ...      ...    ...         ...        ...
422  382    KyogrePrimal Kyogre    Water       NaN    770  100  ...       90      180      160     90           3       True
424  383  GroudonPrimal Groudon   Ground      Fire    770  100  ...      160      150       90     90           3       True
426  384  RayquazaMega Rayquaza   Dragon    Flying    780  105  ...      100      180      100    115           3       True
164  150    MewtwoMega Mewtwo Y  Psychic       NaN    780  106  ...       70      194      120    140           1       True
163  150    MewtwoMega Mewtwo X  Psychic  Fighting    780  106  ...      100      154      100    130           1       True

[65 rows x 13 columns]

In [15]:
df[df["Legendary"] == True].sort_values("Total",ascending=False)

       #                      Name    Type 1    Type 2  Total  ...  Sp. Atk  Sp. Def  Speed  Generation  Legendary
163  150       MewtwoMega Mewtwo X   Psychic  Fighting    780  ...      154      100    130           1       True
164  150       MewtwoMega Mewtwo Y   Psychic       NaN    780  ...      194      120    140           1       True
426  384     RayquazaMega Rayquaza    Dragon    Flying    780  ...      180      100    115           3       True
422  382       KyogrePrimal Kyogre     Water       NaN    770  ...      180      160     90           3       True
424  383     GroudonPrimal Groudon    Ground      Fire    770  ...      150       90     90           3       True
..   ...                       ...       ...       ...    ...  ...      ...      ...    ...         ...        ...
157  145                    Zapdos  Electric    Flying    580  ...      125       90    100           1       True
701  640                  Virizion     Grass  Fighting    580  ...       90      129    108           5       True
705  642    ThundurusTherian Forme  Electric    Flying    580  ...      145       80    101           5       True
704  642  ThundurusIncarnate Forme  Electric    Flying    580  ...      125       80    111           5       True
156  144                  Articuno       Ice    Flying    580  ...       95      125     85           1       True

[65 rows x 13 columns]

In [28]:
df.groupby("Legendary")['Total'].agg(['min','median','max',])

           min  median  max
Legendary
False      180   425.0  700
True       580   600.0  780

In [26]:
df[((df["Type 1"] == "Flying") | (df["Type 2"] == "Flying")) & (df["Legendary"] == True)].sort_values("Total",ascending=False).iloc[:3,:]["Total"].median()

680.0

In [10]:
df[df["Legendary"] == False].sort_values("Total")["Total"].mean()

417.21360544217686